/* Footer CSS */

/* Footer */
.footer {
  background-color: #120848;
  color: #fff;
  padding: 40px 20px;
}

.footer-top {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.footer-logo {
  width: 120px;
  height: auto;
  margin-left: 5px;
}

.footer-links {
  flex-direction: column;
  display: flex;
  gap: 35px;
  width: 100%;
  text-align: left;
  align-items: flex-start;
}

.footer-column h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin-bottom: 18px;
}

.footer-column a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: color .2s;
}

.footer-column a:hover {
  color: #d4d4d4e4;
}

.footer-column i {
  margin-right: 6px;
}

.footer-divider {
  border: none;
  border-top: 1px solid #ffffff33;
  margin: 30px 0 20px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 13px;
}

/* Media Queries */
@media (min-width: 768px) {
  .footer-top {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 100px;
  }
  .footer-logo {
    width: 150px;
  }
  .footer-links {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    width: calc(100% - 150px);
    text-align: left;
  }
  .footer-column a {
    font-size: 15px;
  }
  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}