/* Team Section */

.team-section {
  padding: 70px 20px;
  text-align: center;
}

.team-title {
  font-size: 34px;
  font-weight: 700;
  color: var(--color-white);
  margin-bottom: 50px;
}

.team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}